
<form>
    <div class="form-group">
      <label for="inputImport">Import Energy</label>
      <input type="text" [(ngModel)]="currentRecord.importEnergy" class="form-control" name="importEnergy">
    </div>
    
    <div class="form-group">
      <label for="inpuExport">Export Energy</label>
      <input type="text" class="form-control" [(ngModel)]="currentRecord.exportEnergy"  name="exportEnergy">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" [(ngModel)]="currentRecord.isApproved" name=isAppoved>
        <label class="form-check-label">Approve</label>
      </div>
    <button (click)="dimiss()" class="btn btn-secondary">Dismiss</button> &nbsp;&nbsp;
    <button  (click)="updateRecord(currentRecord)" type="submit" class="btn btn-primary">Update</button>
  </form>
